<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<?php echo site_url('index.php/client'); ?>">FUE</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="<?php echo site_url('index.php/client'); ?>">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Schedule <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Open</a></li>
              <li><a href="#">Scheduled</a></li>
              <li><a href="#">Filter by State</a></li>
              <li><a href="#">Filter by Category</a></li>
              <li><a href="<?php echo site_url('index.php/techies/index'); ?>">Filter by Techies</a></li>
              <li><a href="#">Filter by Surgery Type</a></li>
              <li><a href="<?php echo site_url('index.php/calendar/index'); ?>">My Surgeries</a></li>
              <li class="divider"></li>
              <li><a href="#">Other</a></li>
          </ul>
      </li>
      </ul>

    </div><!--/.nav-collapse -->

  </div>
</nav>
